.mooeditable-container{
	position: relative;
}

.mooeditable-toolbar{
	color: inherit;
	background-color: #eee;
	padding: 2px;
	height: 1%;
}

.mooeditable-toolbar:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.mooeditable-toolbar .toolbar-button{
	cursor: pointer;
	border: 0;
	width: 24px;
	height: 24px;
	margin: 2px;
	float: left;
	color: inherit;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	overflow: hidden;
	text-indent: -999em;
}
.mooeditable-toolbar .text{
	text-indent: 0;
	width: auto;
	padding-left: 3px;
	padding-right: 3px;
}
.mooeditable-toolbar .icons-text{
	text-indent: 16px;
	width: auto;
}

.mooeditable-toolbar .toolbar-button.active,
.mooeditable-toolbar .toolbar-button.onActive{
	color: inherit;
	background-color: #ddd;
}

.mooeditable-toolbar .toolbar-button:hover,
.mooeditable-toolbar .toolbar-button.hover{
	color: inherit;
	background-color: #fff;
}

.mooeditable-toolbar .toolbar-button.disabled{
	cursor: default;
}

.mooeditable-toolbar .toolbar-button.disabled:hover{
	color: inherit;
	background-color: transparent;
}

.mooeditable-toolbar .toolbar-separator{
	width: 1px;
	height: 24px;
	margin: 2px;
	float: left;
	text-indent: -999em;
	color: inherit;
	background-color: #fafafa;
}

.mooeditable-toolbar .bold-button{
	background-image: url(images/format-text-bold.png);
}
.mooeditable-toolbar .italic-button{
	background-image: url(images/format-text-italic.png);
}
.mooeditable-toolbar .underline-button{
	background-image: url(images/format-text-underline.png);
}
.mooeditable-toolbar .strikethrough-button{
	background-image: url(images/format-text-strikethrough.png);
}
.mooeditable-toolbar .insertunorderedlist-button{
	background-image: url(images/format-bullet-list.png);
}
.mooeditable-toolbar .insertorderedlist-button{
	background-image: url(images/format-number-list.png);
}
.mooeditable-toolbar .indent-button{
	background-image: url(images/format-indent-more.png);
}
.mooeditable-toolbar .outdent-button{
	background-image: url(images/format-indent-less.png);
}
.mooeditable-toolbar .undo-button{
	background-image: url(images/edit-undo.png);
}
.mooeditable-toolbar .redo-button{
	background-image: url(images/edit-redo.png);
}
.mooeditable-toolbar .createlink-button{
	background-image: url(images/format-add-link.png);
}
.mooeditable-toolbar .unlink-button{
	background-image: url(images/format-remove-link.png);
}
.mooeditable-toolbar .urlimage-button{
	background-image: url(images/image-x-generic.png);
}
.mooeditable-toolbar .toggleview-button{
	background-image: url(images/action-toggle-view.png);
}

.dialog-toolbar{
	color: inherit;
	background-color: #ddd;
	position: absolute;
	display: block;
	cursor: default;
	font-size: 12px;
	z-index: 100;
	width: 100%;
}

.dialog-toolbar div{
	padding: 4px 10px;
}

.dialog-toolbar input{
	margin: 0 8px;
}

.dialog-toolbar .input-text{
	width: 300px;
}