table { border: 1px dashed #BBBBBB; font:inherit; }
table td, table th { border: 1px dashed #BBBBBB; }
table th { font-weight:bold ; }
object { display:block; border: 1px dashed gray; background: url(Other/flash.png) no-repeat center center; }
