.mooeditable-ui-toolbar .smiley-item .button-icon {
	background: transparent url(Smiley/smile.png) no-repeat top left;
}

.smiley-overlay{
	line-height: 1em;
}

.smiley-overlay .smiley-image{
	margin: 2px;
	cursor: pointer;
}