.mooeditable-ui-toolbar .justifycenter-item .button-icon,
.mooeditable-ui-toolbar .justifyright-item .button-icon,
.mooeditable-ui-toolbar .justifyfull-item .button-icon,
.mooeditable-ui-toolbar .justifyleft-item .button-icon{
	background-image: url(images/mooeditable-extras-toolbarbuttons-tango.png);
}

.mooeditable-ui-toolbar .justifycenter-item .button-icon{ background-position: 0 0; } 
.mooeditable-ui-toolbar .justifyfull-item .button-icon{ background-position: 0 -16px; } 
.mooeditable-ui-toolbar .justifyleft-item .button-icon{ background-position: 0 -32px; } 
.mooeditable-ui-toolbar .justifyright-item .button-icon{ background-position: 0 -48px; } 
