.mooeditable-toolbar .justifycenter-item,
.mooeditable-toolbar .justifyright-item,
.mooeditable-toolbar .justifyfull-item,
.mooeditable-toolbar .justifyleft-item{
	background-image: url(images/mooeditable-extras-toolbarbuttons-tango.png);
}

.mooeditable-toolbar .justifycenter-item{ background-position: 4px -4px; }
.mooeditable-toolbar .justifyright-item{ background-position: 4px -28px; }
.mooeditable-toolbar .justifyfull-item{ background-position: 4px -52px; }
.mooeditable-toolbar .justifyleft-item{ background-position: 4px -76px; }
