.mooeditable-container{
	position: relative;
	border: 2px solid #ddd;
}

.mooeditable-ui-toolbar{
	color: inherit;
	background-color: #eee;
	padding: 2px;
}

.mooeditable-ui-toolbar:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.mooeditable-ui-toolbar .toolbar-item,
.mooeditable-ui-toolbar .toolbar-separator{
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}

.mooeditable-ui-toolbar .mooeditable-ui-button{
	cursor: pointer;
	border: 0;
	width: 24px;
	height: 24px;
	margin: 2px;
	color: inherit;
	background: transparent url(images/mooeditable-toolbarbuttons-tango.png) no-repeat;
	overflow: hidden;
	text-indent: -999em;
}
* html .mooeditable-ui-toolbar .mooeditable-ui-button{ /* IE6 */
	text-indent: 0;
	font-size: 0;
	line-height: 99px;
}
*:first-child+html .mooeditable-ui-toolbar .mooeditable-ui-button{ /* IE7 */
	text-indent: 0;
	font-size: 0;
	line-height: 99px;
}
.mooeditable-ui-toolbar .text{
	text-indent: 0;
	width: auto;
	padding-left: 3px;
	padding-right: 3px;
	background-image: none;
}
.mooeditable-ui-toolbar .icons-text{
	text-indent: 16px;
	width: auto;
}

.mooeditable-ui-toolbar .mooeditable-ui-button.active,
.mooeditable-ui-toolbar .mooeditable-ui-button.onActive{
	color: inherit;
	background-color: #ddd;
}

.mooeditable-ui-toolbar .mooeditable-ui-button:hover,
.mooeditable-ui-toolbar .mooeditable-ui-button.hover{
	color: inherit;
	background-color: #fff;
}

.mooeditable-ui-toolbar .mooeditable-ui-button.disabled{
	cursor: default;
}

.mooeditable-ui-toolbar .mooeditable-ui-button.disabled:hover{
	color: inherit;
	background-color: transparent;
}

.mooeditable-ui-toolbar .toolbar-separator{
	width: 1px;
	height: 24px;
	margin: 2px;
	text-indent: -999em;
	color: inherit;
	background-color: #fafafa;
}

.mooeditable-ui-toolbar .insertorderedlist-item{ background-position: 4px -4px; } 
.mooeditable-ui-toolbar .outdent-item{ background-position: 4px -28px; } 
.mooeditable-ui-toolbar .urlimage-item{ background-position: 4px -52px; } 
.mooeditable-ui-toolbar .toggleview-item{ background-position: 4px -76px; } 
.mooeditable-ui-toolbar .underline-item{ background-position: 4px -100px; } 
.mooeditable-ui-toolbar .italic-item{ background-position: 4px -124px; } 
.mooeditable-ui-toolbar .strikethrough-item{ background-position: 4px -148px; } 
.mooeditable-ui-toolbar .redo-item{ background-position: 4px -172px; } 
.mooeditable-ui-toolbar .undo-item{ background-position: 4px -196px; } 
.mooeditable-ui-toolbar .unlink-item{ background-position: 4px -220px; } 
.mooeditable-ui-toolbar .view-refresh-item{ background-position: 4px -244px; } 
.mooeditable-ui-toolbar .insertunorderedlist-item{ background-position: 4px -268px; } 
.mooeditable-ui-toolbar .indent-item{ background-position: 4px -292px; } 
.mooeditable-ui-toolbar .bold-item{ background-position: 4px -316px; } 
.mooeditable-ui-toolbar .createlink-item{ background-position: 4px -340px; }

.mooeditable-iframe{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
}

.mooeditable-textarea{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	width: 100% !important;
	resize: none !important; /* disable resizable textareas in Webkit */
	outline: 0 !important; /* disable focus ring in Safari */
}

.mooeditable-dialog{
	color: inherit;
	background-color: #ddd;
	position: absolute;
	display: block;
	cursor: default;
	font-size: 12px;
	z-index: 100;
	width: 100%;
}

.mooeditable-dialog .dialog-content{
	padding: 4px 10px;
}

.mooeditable-dialog .dialog-content *{
	vertical-align: middle;
}

.mooeditable-dialog input{
	margin: 0 8px;
}

.mooeditable-dialog input.text{
	width: 300px;
}