head,title{
	display: block;
}

title{
	font-weight: bold;
	padding: .5em;
	text-align: center;
	border-bottom: 1px solid #000;
}

#container{
	width: 70em;
	margin: auto;
}

#menu{
	float: left;
	width: 15em;
}

#docs{
	margin-left: 16em;
	overflow: hidden;
}