head,title{
	display: block;
}

title{
	font-weight: bold;
	padding: .5em;
	text-align: center;
	border-bottom: 1px solid #000;
}

html{
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
}

pre{
	font-size: 120%;
}

ul{
	list-style-type: square;
}

#menu{
	float: left;
	width: 15%;
}

#docs{
	margin-left: 16%;
	overflow: hidden;
}